h1 {
  font-size: 50px;
  text-align: left;
  font-family: 'Patrick Hand SC', cursive;
  margin: 0;
  padding: 20px 0;
  color: #ff0000;
  text-shadow: 2px 2px 1px black;
}

hr {
	border-color: #ff3300;
	border-width: 1px;
	border-style: solid;
}

p, li {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0px;
  font-family: 'Nova Mono', monospace;
  padding-left: 10px;
  width: 600px;
}

.container {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0px;
  font-family: 'Nova Mono', monospace;
  padding-left: 10px;
  width: 600px;
}

.left {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0px;
  font-family: 'Nova Mono', monospace;
  padding-left: 10px;
  width: 600px;
}

body {
  font-family: 'Nova Mono', monospace;
  margin: 0 auto;
  background-color: #ffffcc;
  padding-left: 10px;
  padding-right: 10px;

}

img {
  margin: 0 auto;
}

.img-medium {
    height: 200px;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
nav {         /* The actual navigation bar. */
  background-color: #555555;
  width:100%;
  border:0px;
  border-radius: 8px;
  margin-left:auto;
  margin-right:auto;
  padding: 0px;
}
nav ul a{
  padding: 0px;
}
nav ul a.active li{
    width: auto;
    white-space: 0px;
    display: inline-block;
  color: #ffffff;
  background-color: #ff9900;
  padding:4px 6px;
  border: 0px;
  margin: 0px;
  font-size: 16px;
  line-height: 3;
  letter-spacing: 0px;
  font-family: 'Nova Mono', monospace;
}
nav ul a.navbar li{
  width: auto;
  margin: 0px;
  white-space: 0px;
  display: inline-block;
  color: #ff3300;
  background-color: transparent;
  padding:4px 2px;
  border: 0px;
  border-radius: 0px;
  font-size: 16px;
  line-height: 3;
  letter-spacing: 0px;
  font-family: 'Nova Mono', monospace;
}

nav ul a.navbar li:hover{

  margin: 0px;
  white-space: 0px;
  display: inline-block;
  color: blue;
  background-color: #ff9933;
  padding: 3px 2px;
  border: 0px;
  border-radius: 0px;
  font-size: 16px;
  line-height: 3;
  letter-spacing: 0px;
  font-family: 'Nova Mono', monospace;
}

.game{
  background-color: #ffcc66;
  font-family: 'Nova Mono', monospace;
  height: 400px;
}
div.profile{
  text-align: right;
}
img.profile{
  height: 120px;
  float: right;
  width: 120px;
}


